body{
    background: url(/backgroud.jpg) no-repeat fixed;
    background-size: cover;
}
#galaxy{
    text-align: left;
    position: absolute; top:0 ; left: 0;
}
div{
    display: flex;
    flex-direction: row;
    text-align: right;
    position: absolute; top: 0; right: 0;
    margin-right: 20px;
}
h2{
    padding-left: 20px;
}
h1{
    color: palevioletred;
    text-align: center;
    padding-top: 350px;
}